#city-input, #weather-output {
  max-width: 400px;
  margin: 0 auto;
}

body {
  background-image: url('images/new-history-forecast-bulk.png');
  background-size: cover;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}