
#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

body {
    background-image: url("https://grist.files.wordpress.com/2013/06/supercell_16803.gif");
    background-size: cover;
}

#weather-img {
  height: 50px;
  width: 60px;
  border-radius: 10px;
  background-color: grey;
}