
#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4VMW3FBgR5Xz7n_XvGc17ANx7w_uace68IQ&usqp=CAU");
    background-size: cover;
}

#weather-img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: grey;
}